
<nav>
  <a href="/choirs">Choirs</a>
  <a href="/choir_members">All Choir Members</a>
</nav>

<h2><%= @choir.name %></h2>

<% @choir_members.each do |member| %>
<ul>
  <h3><%= member.name %></h3>
  <p><%= member.age%></p>
  <p><%= member.active%></p>
  <p><%= member.voice_type%></p>
  <p><%= member.choir.name%></p>
</ul>
<% end %>
<%= link_to "Create Choir Member", "/choirs#{@choir.id}/choir_members/new", method: :get %>
<%= link_to "Order Members", "/choirs/#{@choir.id}/choir_members?order=alphabet" %><br>

<%= form_with url: "/choirs/#{@choir.id}/choir_members", method: :get, local: true do |f| %>
  <%= f.label :minimum_age %>
  <%= f.number_field :minimum_age %>
  <%= f.submit "Only Return Members Older Than Minimum Age" %>
<% end %>
