
<nav>
  <a href="/choirs">Choirs</a>
  <a href="/choir_members">All Choir Members</a>
</nav>

<h2><%= @choir.name %></h2>

<% @choirs_choir_members.each do |member| %>
<ul>
  <h3><%= member.name %></h3>
  <p><%= member.age%></p>
  <p><%= member.active%></p>
  <p><%= member.voice_type%></p>
  <p><%= member.choir.name%></p>
</ul>
<% end %>
<a href="/choirs/<%= @choir.id %>/choir_members/new">Create Choir Member</a>
<%= link_to "Order Members", "/choirs/#{@choir.id}/choir_members?order=alphabet" %>
