<h1>Climbing Gyms</h1>
<nav><%= link_to "All Gym Members", "/gym_members", method: :get %></nav>
<% @gyms.each do |gym|%>
  <h3><%= link_to "#{gym.name}", "/climbing_gyms/#{gym.id}", method: :get %></h3>
  <p><%= " Date Created: #{gym.created_at}" %>
  <%= button_to "Update #{gym.name}", "/climbing_gyms/#{gym.id}/edit", method: :get %>
  </p>
<% end %>
<%= button_to "New Climbing Gym", "/climbing_gyms/new", method: :get %>
