<h2><%= @gym.name %></h2>
<nav><%= link_to "Climbing Gyms", "/climbing_gyms", method: :get %> - <%= link_to "All Gym Members", "/gym_members", method: :get %></nav>
<p>Ropes: <%= @gym.ropes %></p>
<p>Number of Routes: <%= @gym.total_routes %></p>
<p>Total Members: <%= @gym.member_count %></p>
<%= button_to "#{@gym.name} Members", "/climbing_gyms/#{@gym.id}/gym_members", method: :get %>
<%= button_to "Update #{@gym.name}", "/climbing_gyms/#{@gym.id}/edit", method: :get %>
<%= button_to "Delete #{@gym.name}", "/climbing_gyms/#{@gym.id}", method: :delete %>
