<nav>
  <a href="/choirs">Choirs</a>
  <a href="/choir_members">All Choir Members</a>
</nav>

<h1>Choir</h1>


  <h3> <%= @choirs.name %></h3>
  <p>Openings: <%= @choirs.openings %></p>
  <p>Active: <%= @choirs.active %></p>
  <p>Total Members: <%= @choirs.member_count %></p>

  <h4><%= link_to "See Members", "/choirs/#{@choirs.id}/choir_members"%></h4>
  <h4><a href=<%= "/choirs/#{@choirs.id}/edit" %>>Update <%= @choirs.name %></a></h4>


  <h4><%= button_to "Delete #{@choirs.name}", "/choirs/#{@choirs.id}", method: :delete %></h4>
