<h2><%= @gym.name %></h2>
<nav><a href="/climbing_gyms">Climbing Gyms</a><a href="/gym_members">All Gym Members</a></nav>
<% @members.each do |member| %>
<ul><h3><%= member.full_name %></h3>
  <li>Belay Certified: <%= member.belay_status %></li>
  <li>Monthly Check-ins: <%= member.monthly_checkins %></li>
</ul>
<% end %>
<a href="/climbing_gyms/<%= @gym.id %>/gym_members/new">Create Gym Member</a>
