<h2><%= @gym.name %></h2>
<nav><%= link_to "Climbing Gyms", "/climbing_gyms", method: :get %> - <%= link_to "All Gym Members", "/gym_members", method: :get %></nav>
<% @members.each do |member| %>
<div><h3><%= member.full_name %></h3>
  <p>Belay Certified: <%= member.belay_status %></p>
  <p>Monthly Check-ins: <%= member.monthly_checkins %></p>
  <p><%= button_to "Update #{member.full_name}", "/gym_members/#{member.id}/edit", method: :get %><%= button_to "Delete #{member.full_name}", "/gym_members/#{member.id}", method: :delete %></p>
</div>
<% end %>
<%= button_to "Create Gym Member", "/climbing_gyms/#{@gym.id}/gym_members/new", method: :get %>
<%= link_to "Order Members", "/climbing_gyms/#{@gym.id}/gym_members?order=alphabet" %><br>
<%= form_with url: "/climbing_gyms/#{@gym.id}/gym_members", method: :get, local: true do |f| %>
  <%= f.label :minimum_checkins, "Minimum Check-ins:" %>
  <%= f.number_field :minimum_checkins %><br>
  <%= f.submit "Only return members with more than minimum monthly checkins" %>
<% end %>
