
<h3> <%= @choir_member.name %></h3>
<p>Age: <%=@choir_member.age %></p>
<p>Active: <%=@choir_member.active %></p>
<p>Voice Type: <%=@choir_member.voice_type %></p>
<p>Choir: <%=@choir_member.choir.name %></p>
